# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science  
- List common data science libraries  
- Create tables and markdown headings in Jupyter Notebook  
- Evaluate arithmetic expressions in Python code cells

Some of the popular languages that Data Scientists use are:
1. Phyton
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib

| Data Science Tools |
|-------------------|
| RStudio |
| Apache Zeppelin |
| JupyterLab |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [8]:
(3*4)+5

17

 This will convert 200 minutes to hours by diving by 60

In [10]:
minutes = 120
hours = minutes / 60
hours

2.0

## Author
Haitham